<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music</title>
</head>

<body>
    <h2>音乐专辑分析</h2>
    <ul style="line-height: 2em">
        <li><a href="genre.html">2000年-2019年各类型专辑的数量统计图</a></li>
        <li><a href="album_sales.html">2000年-2019年各类型专辑销量统计图</a></li>
        <li><a href="year_albums_and_tracks.html">2000年-2019年每年的专辑数量和单曲数量统计图</a></li>


    </ul>
</body>
</html>