<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music</title>
</head>

<style>
body{ font-family:"宋体"}
</style>

<body style="text-align:center;">
    <h2>音乐专辑分析</h2>
    <ul style="line-height: 2em">
        <li><a href="genre.html">2000年-2019年各类型专辑的数量统计图</a></li>
        <li><a href="top_50_albums.html">2000年-2019年最受欢迎的50张专辑词云图</a></li>
        <li><a href="album_sales.html">2000年-2019年各类型专辑销量统计图</a></li>
        <li><a href="year_albums_and_tracks.html">2000年-2019年每年的专辑数量和单曲数量统计图</a></li>
        <li><a href="top_5_genres_year_sales.html">2000年-2019年总销量前五的专辑类型的各年份销量统计图</a></li>
        <li><a href="top_5_genres_avg_scores.html">2000年-2019年总销量前五的专辑类型的在各个评价网站上的平均分数统计图</a></li>
    </ul>
</body>
</html>